header {
    width: 100%;
}

.title {
    background-color: #473449;
    color: white;
}
.game-message-container {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'UnifrakturCook', sans-serif;
}


.game {
   position: relative;
   display: flex;
   justify-content: center;
}


canvas {
    background: transparent;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.user-word-input {
    position: absolute;
    top: 90px;
    text-align: center;
    padding:15px;
    background-color: transparent;
    width: 500px;
    font-size:20px; 
    color:aquamarine;
    border: none;
    cursor: text;
    font-family: Poppins;
    font-size: 35px;
    z-index: 2;
    font-weight: 700;
}

.user-word-input::placeholder {
    color:rgb(219, 199, 223);
}

.time-and-score-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    position: absolute;
    top:20px;
    font-family: 'UnifrakturCook', sans-serif;
    font-size: 35px;
    color:white;
    text-shadow: 2px 2px purple;
    z-index: 5;
}

.large-cheetah-image {
    /* add styling here */
}




.treasures {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 85vw;
    top: 400px;
    margin: 0 auto;
    
}