.flag {
    position: absolute;
    width: 10em;
    z-index: 50;
    display: none;
}

.birds {
    position: absolute;
    animation: fly-across 4s steps(40) infinite;
    will-change: transform, opacity;
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

.bird {
    width: 128px;
    height: 128px;
    background: url(https://game-seeds.s3.amazonaws.com/birds.svg) left center;
    animation: play 0.8s steps(5) infinite;
    position: absolute;
}
