


/* 
#btn {
 position: relative;
 font-size: 13px;
 float: right;
 z-index: 101;
 margin: 40px;
 color: teal;
    transition: 0.35s ease-in-out;
 /* background: white;
 color: pink;
 border: 3px solid pink; */
 /* opacity: 0.5; */
/* } */ */
.game-start:first-child{
     align-items:flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 0px;
}
.button-container {
    width: 1000px;
    margin: -30px auto;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items:flex-end;
    position: absolute;
    /* margin-top: 0px; */
}

#btn:hover {
    /* background: linear-gradient(45deg,#d350db,teal,#d350db);  */
    opacity: 1;
    /* color: teal; */
    color: white;
}


#btn {
 /* position: absolute; */
 font-size: 13px;
margin-top: 0px;
 /* float: right; */
 z-index: 101;
 /* margin: 40px; */
 color: teal;
    transition: 0.35s ease-in-out;
 /* background: white;
 color: pink;
 border: 3px solid pink; */
 opacity: 0.5;
 
 /* width: inherit; */
}

#btn:hover {
    /* background: linear-gradient(45deg,#d350db,teal,#d350db);  */
    opacity: 1;
    /* color: teal; */
    color: white;
}


.modal{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    min-height: 100vh;
    min-width: 100vw;
    /* display: flex; */
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 101;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0, 0.4);



}

.rule-header {
    font-weight: 900;
    text-align: center;
    transition: .35s ease-in-out;
}

.modal-content{
    background-color: white;
    margin:0 auto;
    padding: 30px;
    /* border: 8px solid pink; */
    border-radius: 16px;
    max-width: 50%;
    list-style-type: circle;
    transition: .35s ease-in-out;
    
}
.modal-content > h2 {
    font-size: 20px;
    margin-top: 20px;
        transition: .35s ease-in-out;
}
.modal-content > ul{
    margin-left: 1em;
    list-style-type: circle;
    margin-top: 20px;
        transition: .35s ease-in-out;
    
}

.modal-content > ul > li {
    margin-bottom: 1em;
        transition: .35s ease-in-out;
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


