.game {
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 0px;
    top: 0;
    overflow: auto;
    flex-direction: column;
}

canvas,
.background {

    position: absolute;
    background: transparent;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.gameover,
.game-start {
    position: absolute;
    margin: auto;
    z-index: 201;
    border-radius: 8px;
    background-color: black;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    width: 1024px;
    height: 460px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.game-start {
    display: flex;
       background-image: url(https://game-seeds.s3.amazonaws.com/start-screen-blank.jpg);
       background-size: 100%;
       justify-content: flex-start;
       padding-top: 40px;
       height: 450px;
       margin: auto;
       align-content: space-between;
    
}

.gameover {
    display: flex;
    z-index: 200;
    background-color: #333;
}

