.background {
    display: flex;
    margin: 0 auto;
    position: absolute;
       /* top: 80px; */
    margin: 0 auto;
    z-index: -1;
    border-radius: 8px;

}

.svg-trees{
    position: absolute;
    /* top: 80px; */
    margin: 0 auto;
    z-index: 1;
    border-radius: 8px;
}

.gameover {
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    border-radius: 8px;
}

